#content{
    border: 2px solid red;
    margin: 25px 20px 20px 20px;
    display: flex;
    
    flex-direction: column;
}

.items{
    background-color: lightblue;
    margin: 5px 5px 5px 5px;
    text-align: center;
    color: white;
    font-size: 10ex;
}

#d1{

}

#d2{
    margin: 30px 150px 30px 150px;
    padding: 100px 10px 100px 10px;
}

#d3{

}